/* all pages */
html {
    height: 100%;
    margin: 0;
    padding:0;
}
body {
    font-family: helvetica, sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: 0;
    padding:0;
}
.doc_wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

/*---------sidebar---------*/

.sidebar {
    position: fixed;
    width: 175px;
    color: #545454;
    text-align: right;
    font-size: 13pt;
    margin-right: 50px;
}
.sidebar_logo {
    width: 100%;
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-left: 76px;
    margin-bottom: 60px;
}
.sidebar_header {
    font-weight: bold;
    margin-bottom: 60px;
}
.nav :hover {
    text-decoration: underline;
    color: #BC9F70;
}
.nav {
    font-weight: lighter;
    margin-bottom: 20px;
}

/*---------footer---------*/

.footer_wrapper {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.footer {
    margin-left: 124px;
    margin-right: 124px;
    margin-bottom: 30px;
    font-size: 13px;
}
.bline { 
    width:100%; 
    height: 1px; 
    background: #797979;
    margin-bottom: 20px
}
.contact_title {
    font-weight: bold;
    float: left;
    margin-right: 25px;
}
.contact {
    float: left;
    line-height: 18px;
}
.social_media {
    float: right;
    width: 25px;
    height: 25px;
    margin-left: 30px;
}
.social_media img {
    width: 100%;
    height: auto;
}
.copyright {
    margin-top: 20px;
    width: 100%;
    float: left;
}

/* all pages ends here */

/*----------index-----------*/

.portfolio {
    top: 0px;
    margin-left: 225px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.thumbnail {
    color: white;
    background-color: white;
    width: 320px;
    height: 320px;
    overflow: hidden;
    margin: 8px;
}
.thumb {
    width: 100%;
}
.thumbnailPlus {
    background-color: white;
    width: 320px;
    height: 370px;
    margin: 8px 8px 0px;
}

.thumbnailPlus :hover {
    text-decoration: underline;
    color: #DA0000;
    font-size: 13pt;
}



/* ---------resume--------- */

.resume {
    top: 0px;
    padding-top: 143px;
    margin-left: 225px;
    padding-bottom: 100px;
}
.title {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 50px;
}
.resume_body {
    font-weight: lighter;
    font-size: 12pt;
    line-height: 24px;
    margin-bottom: 32px;
}
.resume_pdf {
    text-decoration: underline;
}



/* ---------about--------- */

.about {
    top: 0px;
    padding-top: 143px;
    margin-left: 225px;
    padding-bottom: 100px;
}
.about_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.porfile_pic {
    width: 200px;
    height: 250px;
    background-color: gray;
    margin-right: 50px;
    margin-bottom: 50px;
}
.about_body {
    font-size: 12pt;
    line-height: 24px;
    width: 434px;
}



/* ---------works--------- */
.work_wrapper {
    top: 0px;
    padding-top: 143px;
    margin-left: 225px;
    padding-bottom: 100px;
}

.section_title {
    font-size: 12pt;
    margin-bottom: 2px;
}

.section_underline {
    width:100%; 
    height: 1px; 
    background: #797979;
    margin-bottom: 32px;
}
.section_text {
    width: 50%;
    font-size: 12pt;
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 50px;
}
.section_image {
    max-width: 1200px;
    margin-bottom: 50px;
    margin-right: 124px;
}
.section_image img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.image_text {
    max-width: 1200px;
    font-size: 12pt;
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 8px;
}

.image {
    margin-bottom: 24px;
}
/* flex box */
.section_wrap {
    display: flex;
    flex-wrap: wrap; 
    overflow: hidden;
}
.image_wrap {
    width: 215px;
    margin-right: 8px;
}


/* 500px mobile*/
@media screen and (max-width: 500px){
.sidebar {
    position: fixed;
    width: 100%;
    margin-top: 0px;
    color: #545454;
    background-color: white;
    text-align: center;
    font-size: 13pt;
    margin-right: 50px;
}
.portfolio {
    margin-left: 0px;
}
.about {
    margin-left: 0px;
}
.work_wrapper {
    margin-left: 0px;
}
}