.project_container {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2%;
    display: block;
    text-align: left;
}
.project_title {
    font-size: 20px;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 20px;
    color: #B99762; /*#221B17;*/
    font-family: serif;
    font-weight: bold;
}
.project_discription {
    font-family: serif;
    color: black;   
    margin-left: 10%;
    margin-bottom: 25px;
    padding-right: 4%;
    line-height: 1.5;
    font-size: 16px;
    max-width: 700px;
}
.project_images {
    margin-bottom: 25px;
    margin-right: 2%;
}
    
.work_images {
    width: 100%;
    float: left;
    max-width: 1200px;
    margin-bottom: 20px;
    outline-color: #cecccc;
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
}

.partner,
.project_director {
    text-decoration: underline;
}

.project_end {
    line-height: 18px;
    font-size: 12px;
    font-family: serif;
    font-weight: bold;
    color: #221B17;
    max-width: 395px;
    width: 100%;
    padding-top: 5px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.tm_wendys {
    outline-color: red;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -2px;
}